.sass-cache
.jekyll-cache
_site
.jekyll-metadata

code/
figures/
processed_data/

\.DS_Store

ordination.pdf
ordination.png

_book/
_bookdown_files/

.Rproj.user

ipeds
noaa
project_tycho
*.Rproj

*.pdf
